/* ----- Presentacion ----- */

.main-bienvenida {
    width: 100vw;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1543208541-0961a29a8c3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    object-fit: cover;
    background-size: cover;
    margin-bottom: 6rem;
}

.main-bienvenida h1 {
    color: white;
}

/* ----- Carrito Contador ------ */

.contadorCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;
    gap: 30px;
}

.contadorCarrito button {
    width: 25px;
    height: 25px;
    background-color: #ff7700;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.contadorCarrito button:hover {
    background-color: #ff8c27;
}

.agregar-carrito {
    height: 30px;
    width: 120px;
    background-color: #ff7700;
    border: none;
    margin-bottom: 10px;
    color: rgb(242, 242, 242);
    cursor: pointer;
    border-radius: 3px;
}
.agregar-carrito:hover {
    background-color: #ff8c27;
}


/* ----- Titulo Destacado ----- */
.destacados-title {
    margin: 70px auto;
    color: rgba(0,0,0,.5);
    text-decoration: underline;
    font-size: 1.4rem;
}


/* ----- Catalogo ----- */

.gridProductos {
    width: 80vw;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.item-producto {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.item-producto:hover {
    transform: scale(1.03,1.03) ;
    cursor: pointer;
}

.item-producto img {
    object-fit: contain;
}

.precioCarta span { 
    font-size: 1rem;
}

#card-bottom {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-producto-btn {
    height: 2rem;
    width: 5rem;
    background-color: #ff8c27;
    outline: none;
    border: none;
    border-radius: 5%;
    color: white;
    cursor: pointer;
}