.containerContact {
    width: 100vw;
    height: 600px;
    background-color: #fda455;
    display: grid;
    grid-template-areas: "title form";
    justify-content: space-evenly;
    align-items: center;
}

.titleContact {
    grid-area: title;
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    font-size: 3rem;
    padding: 3rem;
}

.formContact {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.formContact input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #ffc593;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.formContact textarea {
    width: 400px;
    border: none;
    outline: none;
    resize: none;
    background-color: #ffc593;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.divBtnForm {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btnForm {
    width: 150px !important;
    color: #6e6e6e;
}

.btnForm:hover {
    cursor: pointer;
    background-color: #ff881f;
}