@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.footer {
    width: 100vw;
    height: 150px;
    background-color: #ff8c27;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    font-family: 'Lato', sans-serif;
}

.footer h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 20px;
}

.footer-nosotros p {
    margin: 20px auto;
}

.footer .footer-contacto-ig a {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    gap: 9px;
    text-decoration: none;
    color: white;
}

.footer-contacto-ig a:hover {
    color: #ffc593;
}

.footer .footer-contacto-ig img {
    width: 30px;
    height: 30px;
}

